<nav>
    <ul>
        <li>
            <a href="/">Task List</a>
        </li>
          <li>
            <a href="/add">Add List</a>
        </li>
          <li>
            <a href="/update">Update List</a>
        </li>
    </ul>
</nav>